{% extends 'master.html' %}

{% block content %}

 <body>

    <div class="container">

        <h2>Add Awesome Book</h2>

            <form class="site-form" action="/create/" >

                 <label class="form-group">Title</label>
                 <input class="form-control" type="text" name="title"><br>

                 <label class="form-group">Price</label>
                 <input class="form-control" type="text" name="price"><br>

                 <label class="form-group">Author</label>
                 <input class="form-control" type="text" name="author"><br>

                <input class="btn btn success" type="submit" value="Create">

            </form>

    </div>
 </body>


{% endblock %}